*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    height: 100%;
    border: 3px solid blue;
    background-color: blue;
}

.wrapper {
    border: 1px solid blue;
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 600px;
    margin-top: 5rem;
    overflow: hidden;
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
}

.item {
    width: 400px;
    height: 100%;
    background-color: blue;
    border-radius: 6px;
    position: absolute;
    left: calc(200px * 8);
    animation-name: scrollleft; 
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -1s;
    color: white;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0.1;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1 );
}
